NUMPY

In [1]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9])
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
import array
ft = array.array('i', list(range(1, 10)))
ft

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
import array
myarr = array.array("i",[1,2,3,4,5,6,7,8,9,10])
myarr

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [38]:
print(f"arr.ndim:{arr.ndim}")
print(f"arr.shape: {arr.shape}")
print(f"arr.size: {arr.size}")
print(f"arr.dtype: {arr.dtype}")

arr.ndim:1
arr.shape: (9,)
arr.size: 9
arr.dtype: int32

In [31]:
another = np.array([1,2,3,4,45,5,6,7,78,8,89,64], dtype="<U64")
another

array(['1', '2', '3', '4', '45', '5', '6', '7', '78', '8', '89', '64'],
      dtype='<U64')

In [37]:
print(f"another.dtype:{another.dtype}")
print(f"another.shape: {another.shape}")
print(f"another.ndim: {another.ndim}")

another.dtype:<U64
another.shape: (12,)
another.ndim: 1

Creating Array from scratch

In [42]:
zeros = np.zeros(10, dtype="int32")
zeros

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [43]:
zearr = np.zeros((10,8), dtype="int32")
zearr

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0]])

In [46]:
ones =np.ones(10)
ones

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [47]:
onarr = np.ones((10,10), dtype="<U")
onarr

array([['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1']], dtype='<U1')

In [48]:
np.full((5,4),8)

array([[8, 8, 8, 8],
       [8, 8, 8, 8],
       [8, 8, 8, 8],
       [8, 8, 8, 8],
       [8, 8, 8, 8]])

In [49]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [53]:
np.arange(1,19)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

In [54]:
np.arange(1,20,2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [58]:
np.linspace(1,17)

array([ 1.        ,  1.32653061,  1.65306122,  1.97959184,  2.30612245,
        2.63265306,  2.95918367,  3.28571429,  3.6122449 ,  3.93877551,
        4.26530612,  4.59183673,  4.91836735,  5.24489796,  5.57142857,
        5.89795918,  6.2244898 ,  6.55102041,  6.87755102,  7.20408163,
        7.53061224,  7.85714286,  8.18367347,  8.51020408,  8.83673469,
        9.16326531,  9.48979592,  9.81632653, 10.14285714, 10.46938776,
       10.79591837, 11.12244898, 11.44897959, 11.7755102 , 12.10204082,
       12.42857143, 12.75510204, 13.08163265, 13.40816327, 13.73469388,
       14.06122449, 14.3877551 , 14.71428571, 15.04081633, 15.36734694,
       15.69387755, 16.02040816, 16.34693878, 16.67346939, 17.        ])

In [59]:
np.linspace(1,17,5)

array([ 1.,  5.,  9., 13., 17.])

In [72]:
np.random.rand(1,10,2)

array([[[0.87017366, 0.94875716],
        [0.33978956, 0.76114046],
        [0.00432499, 0.45912517],
        [0.11480818, 0.45171195],
        [0.53367691, 0.80044155],
        [0.37189135, 0.70340539],
        [0.61104679, 0.71561661],
        [0.16264647, 0.75321423],
        [0.36028125, 0.69495347],
        [0.76333204, 0.31779958]]])

In [76]:
np.random.randn(10,2)

array([[ 0.63865741, -1.15617163],
       [ 0.11227394,  0.45061536],
       [-1.49644584,  0.35963286],
       [ 0.93475423, -0.5035763 ],
       [ 1.22614787,  1.2632442 ],
       [ 0.218888  , -1.625954  ],
       [-0.05125967, -0.72670818],
       [-0.63541618, -0.58255374],
       [ 0.27393088,  0.70755501],
       [ 0.10807308, -0.57423232]])

In [78]:
np.random.randn(9)

array([-0.12779202, -0.47364843, -1.58221798,  0.58506793,  0.02919266,
       -0.6436669 , -0.22043096, -0.62907055,  0.45700414])

In [82]:
np.random.random(9)

array([0.38761553, 0.03359995, 0.06489289, 0.9850211 , 0.3869849 ,
       0.81898223, 0.96476563, 0.54037404, 0.14789963])

In [94]:
np.random.randint(1,8,2)

array([7, 4])

In [114]:
np.random.binomial(2, 1, 20) == 0

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [116]:
np.random.randint(0,10)

8

In [120]:
np.random.randint(4,10,(2,6))

array([[8, 4, 9, 5, 8, 6],
       [4, 5, 5, 7, 9, 9]])

In [122]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [124]:
anny = np.linspace(0,1,20)
ay = anny.reshape(4,5)

In [125]:
ay.ndim

2

In [134]:
np.random.seed(42)
x1 = np.random.randint(10, size=5)
x1

array([6, 3, 7, 4, 6])

# DAY 2

In [138]:
newData = np.arange(20)
newData

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [139]:
%timeit [i + i for i in newData]

6.19 µs ± 370 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [140]:
newData + 10

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])

In [141]:
newData + 10 / 5

array([ 2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14.,
       15., 16., 17., 18., 19., 20., 21.])

In [142]:
newData * np.pi

array([ 0.        ,  3.14159265,  6.28318531,  9.42477796, 12.56637061,
       15.70796327, 18.84955592, 21.99114858, 25.13274123, 28.27433388,
       31.41592654, 34.55751919, 37.69911184, 40.8407045 , 43.98229715,
       47.1238898 , 50.26548246, 53.40707511, 56.54866776, 59.69026042])

In [143]:
np.add(newData, 10)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])

In [145]:
np.add(newData, np.pi)

array([ 3.14159265,  4.14159265,  5.14159265,  6.14159265,  7.14159265,
        8.14159265,  9.14159265, 10.14159265, 11.14159265, 12.14159265,
       13.14159265, 14.14159265, 15.14159265, 16.14159265, 17.14159265,
       18.14159265, 19.14159265, 20.14159265, 21.14159265, 22.14159265])

In [146]:
comp =np.array([3-4j, 4-3j, 2+0j, 0+1j])
np.abs(comp)

array([5., 5., 2., 1.])

In [148]:
np.tan(newData)

array([ 0.00000000e+00,  1.55740772e+00, -2.18503986e+00, -1.42546543e-01,
        1.15782128e+00, -3.38051501e+00, -2.91006191e-01,  8.71447983e-01,
       -6.79971146e+00, -4.52315659e-01,  6.48360827e-01, -2.25950846e+02,
       -6.35859929e-01,  4.63021133e-01,  7.24460662e+00, -8.55993401e-01,
        3.00632242e-01,  3.49391565e+00, -1.13731371e+00,  1.51589471e-01])

In [149]:
np.log(newData)

<ipython-input-149-865dd7705907>:1: RuntimeWarning: divide by zero encountered in log
  np.log(newData)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458,
       2.30258509, 2.39789527, 2.48490665, 2.56494936, 2.63905733,
       2.7080502 , 2.77258872, 2.83321334, 2.89037176, 2.94443898])

In [150]:
np.log10(newData)

<ipython-input-150-e688499ff411>:1: RuntimeWarning: divide by zero encountered in log10
  np.log10(newData)

array([      -inf, 0.        , 0.30103   , 0.47712125, 0.60205999,
       0.69897   , 0.77815125, 0.84509804, 0.90308999, 0.95424251,
       1.        , 1.04139269, 1.07918125, 1.11394335, 1.14612804,
       1.17609126, 1.20411998, 1.23044892, 1.25527251, 1.2787536 ])

In [151]:
np.log2(newData)

<ipython-input-151-2110a5d71805>:1: RuntimeWarning: divide by zero encountered in log2
  np.log2(newData)

array([      -inf, 0.        , 1.        , 1.5849625 , 2.        ,
       2.32192809, 2.5849625 , 2.80735492, 3.        , 3.169925  ,
       3.32192809, 3.45943162, 3.5849625 , 3.70043972, 3.80735492,
       3.9068906 , 4.        , 4.08746284, 4.169925  , 4.24792751])

In [152]:
np.max(newData)

19

In [153]:
np.min(newData)

0

In [154]:
np.size(newData)

20

In [155]:
np.add.accumulate(newData)

array([  0,   1,   3,   6,  10,  15,  21,  28,  36,  45,  55,  66,  78,
        91, 105, 120, 136, 153, 171, 190], dtype=int32)

In [159]:
np.add.reduce(newData)

190

In [161]:
np.multiply.accumulate(newData)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int32)

In [163]:
np.multiply.reduce(newData)

0

In [167]:
all =newData.reshape(4,5)

In [168]:
np.multiply.outer(newData, newData)

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         13,  14,  15,  16,  17,  18,  19],
       [  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
         26,  28,  30,  32,  34,  36,  38],
       [  0,   3,   6,   9,  12,  15,  18,  21,  24,  27,  30,  33,  36,
         39,  42,  45,  48,  51,  54,  57],
       [  0,   4,   8,  12,  16,  20,  24,  28,  32,  36,  40,  44,  48,
         52,  56,  60,  64,  68,  72,  76],
       [  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
         65,  70,  75,  80,  85,  90,  95],
       [  0,   6,  12,  18,  24,  30,  36,  42,  48,  54,  60,  66,  72,
         78,  84,  90,  96, 102, 108, 114],
       [  0,   7,  14,  21,  28,  35,  42,  49,  56,  63,  70,  77,  84,
         91,  98, 105, 112, 119, 126, 133],
       [  0,   8,  16,  24,  32,  40,  48,  56,  64,  72,  80,  88,  96,
        104, 112, 120, 128, 136, 144, 152],
       [  0,   9,  18,  27,  36,  45,  54,  63,  72,  81,  90,  99, 108,
        117, 126, 135, 144, 153, 162, 171],
       [  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120,
        130, 140, 150, 160, 170, 180, 190],
       [  0,  11,  22,  33,  44,  55,  66,  77,  88,  99, 110, 121, 132,
        143, 154, 165, 176, 187, 198, 209],
       [  0,  12,  24,  36,  48,  60,  72,  84,  96, 108, 120, 132, 144,
        156, 168, 180, 192, 204, 216, 228],
       [  0,  13,  26,  39,  52,  65,  78,  91, 104, 117, 130, 143, 156,
        169, 182, 195, 208, 221, 234, 247],
       [  0,  14,  28,  42,  56,  70,  84,  98, 112, 126, 140, 154, 168,
        182, 196, 210, 224, 238, 252, 266],
       [  0,  15,  30,  45,  60,  75,  90, 105, 120, 135, 150, 165, 180,
        195, 210, 225, 240, 255, 270, 285],
       [  0,  16,  32,  48,  64,  80,  96, 112, 128, 144, 160, 176, 192,
        208, 224, 240, 256, 272, 288, 304],
       [  0,  17,  34,  51,  68,  85, 102, 119, 136, 153, 170, 187, 204,
        221, 238, 255, 272, 289, 306, 323],
       [  0,  18,  36,  54,  72,  90, 108, 126, 144, 162, 180, 198, 216,
        234, 252, 270, 288, 306, 324, 342],
       [  0,  19,  38,  57,  76,  95, 114, 133, 152, 171, 190, 209, 228,
        247, 266, 285, 304, 323, 342, 361]])

In [169]:
all.shape

(4, 5)

In [172]:
all

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [171]:
all.sum(axis = 0)

array([30, 34, 38, 42, 46])

In [173]:
all.sum(axis = 1)

array([10, 35, 60, 85])

In [174]:
 np.mean(all)

9.5

In [175]:
np.stack(all)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [176]:
np.std(all)

5.766281297335398

In [177]:
np.median(all)

9.5

In [179]:
np.percentile(all, 25)

4.75

In [180]:
np.percentile(all,50)

9.5

# DAY 3

In [210]:
mydata = np.array([16, 1, 2,13, 3, 10, np.nan,25, 5, 6, np.nan, 7, 8])
mydata

array([16.,  1.,  2., 13.,  3., 10., nan, 25.,  5.,  6., nan,  7.,  8.])

In [211]:
print("sum: ", np.nansum(mydata))

sum:  96.0

In [212]:
print("product: ", np.nanprod(mydata))

product:  524160000.0

In [213]:
np.nanargmax(mydata)

7

In [214]:
np.nanargmin(mydata)

1

In [221]:
print("cumulative product of array elements over a given axis treating Not aNumbers (NaNs) as one")
# np.nancumprod?
np.nancumprod(mydata)

cumulative product of array elements over a given axis treating Not aNumbers (NaNs) as one

array([1.6000e+01, 1.6000e+01, 3.2000e+01, 4.1600e+02, 1.2480e+03,
       1.2480e+04, 1.2480e+04, 3.1200e+05, 1.5600e+06, 9.3600e+06,
       9.3600e+06, 6.5520e+07, 5.2416e+08])

In [224]:
print(np.nanmax(mydata))
print(np.nanmin(mydata))
print(np.nanmedian(mydata))

25.0
1.0
7.0

In [238]:
xdata = np.array(([1,2,3],[4,5,6]))
ydata = np.array(([1,2,4],[4,5,6]))

In [239]:
xdata

array([[1, 2, 3],
       [4, 5, 6]])

In [240]:
ydata

array([[1, 2, 4],
       [4, 5, 6]])

In [241]:
xdata + ydata

array([[ 2,  4,  7],
       [ 8, 10, 12]])

In [242]:
xdata - ydata

array([[ 0,  0, -1],
       [ 0,  0,  0]])

In [243]:
zdata =np.array([4,7,9])
zdata

array([4, 7, 9])

In [244]:
xdata + zdata

array([[ 5,  9, 12],
       [ 8, 12, 15]])

In [247]:
rszdata=zdata.reshape(3,1)
rszdata

array([[4],
       [7],
       [9]])

In [250]:
threedata =np.arange(9).reshape(3,3)

In [251]:
threedata+rszdata

array([[ 4,  5,  6],
       [10, 11, 12],
       [15, 16, 17]])

In [263]:
x2 = np.random.randint(10, size=(3,4))
x2

working with Boolean Arrays, Boolean operators,Boolean Array masking,Fancy Indexing,Combine Indexing

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [264]:
x2[::2]

array([[3, 8, 2, 4],
       [6, 1, 3, 8]])

In [265]:
x2[2::]

array([[6, 1, 3, 8]])

In [266]:
x2[2:3]

array([[6, 1, 3, 8]])

In [267]:
x2[:,:]

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [268]:
x2[::,::]

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]])

In [269]:
x2[:2,:2]

array([[3, 8],
       [2, 6]])

In [270]:
x2[:3,:3]

array([[3, 8, 2],
       [2, 6, 4],
       [6, 1, 3]])

In [271]:
x2[::3,::3]

array([[3, 4]])

In [273]:
x2[:2]

array([[3, 8, 2, 4],
       [2, 6, 4, 8]])

In [274]:
x2[:,:3]

array([[3, 8, 2],
       [2, 6, 4],
       [6, 1, 3]])

In [275]:
view =x2[::,2].copy()
view

array([2, 4, 3])

In [278]:
x2 = np.random.randint(10, size=(3,4))
x2

array([[1, 9, 8, 9],
       [4, 1, 3, 6],
       [7, 2, 0, 3]])

In [279]:
[x2[0],x2[1]]

[array([1, 9, 8, 9]), array([4, 1, 3, 6])]

In [280]:
x2[0,1]

9

In [282]:
[x2[:2],x2[2:]]

[array([[1, 9, 8, 9],
        [4, 1, 3, 6]]),
 array([[7, 2, 0, 3]])]

In [290]:
a3D = np.array([[[[[1, 2], [3, 4]],[[1, 2], [3, 4]], [[5, 6], [7, 8]]]]])
a3D.ndim

5

In [298]:
a = np.array([127, 128, 129], dtype=np.int8)
a

array([ 127, -128, -127], dtype=int8)

In [299]:
x = np.array([[1, 2], [3, 4], [5, 6]])
x

Writing custom array containers

array([[1, 2],
       [3, 4],
       [5, 6]])

# DAY 4

In [327]:
x = np.arange(35).reshape(5, 7)
b = x > 20
x
# b[:, 5]
# x[b[:, 5]]

array([[ 0,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34]])

In [328]:
x[b]

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [329]:
x = np.array([[0, 1], [1, 1], [2, 2]])
rowsum = x.sum(-1)
rowsum
# x[rowsum <= 2, :]
# array([[0, 1],
# [1, 1]])

array([1, 2, 4])

In [330]:
x = np.array([[ 0, 1, 2],
[ 3, 4, 5],
[ 6, 7, 8],
[ 9, 10, 11]])
rows = (x.sum(-1) % 2) 
rows

array([1, 0, 1, 0], dtype=int32)

In [331]:
z = np.arange(81).reshape(3, 3, 3, 3)
indices = (1, 1, 1, 1)
z[indices]

40

In [332]:
indices = (1, 1, 1, slice(0, 2)) # same as [1, 1, 1, 0:2]
z[indices]

array([39, 40])

In [333]:
indices = (1, Ellipsis, 1) # same as [1, ..., 1]
z[indices]

array([[28, 31, 34],
       [37, 40, 43],
       [46, 49, 52]])

In [335]:
x = np.array([('Rex', 9, 81.0), ('Fido', 3, 27.0)],dtype=[('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])
x

array([('Rex', 9, 81.), ('Fido', 3, 27.)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f4')])

In [336]:
x['age']

array([9, 3])

In [337]:
np.dtype('3int8, float32, (2, 3)float64')

dtype([('f0', 'i1', (3,)), ('f1', '<f4'), ('f2', '<f8', (2, 3))])

In [338]:
np.dtype({'names': ['col1', 'col2'], 'formats': ['i4', 'f4']})

dtype([('col1', '<i4'), ('col2', '<f4')])

In [339]:
dm = np.dtype([('x', 'i8'), ('y', 'f4')])
dm.names

('x', 'y')

In [340]:
dm.fields

mappingproxy({'x': (dtype('int64'), 0), 'y': (dtype('float32'), 8)})

# DAY 5

In [2]:
onedim = np.array([2,1,4,3,5], dtype=int)
onedim.sort()
onedim

array([1, 2, 3, 4, 5])

In [3]:
np.sort(onedim)

array([1, 2, 3, 4, 5])

In [4]:
f = np.array([2,1,4,3,5], dtype=int)
i = np.argsort(f)
print(i)

[1 0 3 2 4]

In [5]:
f[i]

array([1, 2, 3, 4, 5])

In [9]:
rand = np.random.RandomState(42)
x = rand.randint(0,10, (4,6))
x

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [10]:
np.sort(x, axis=0)

array([[2, 1, 4, 0, 1, 5],
       [5, 2, 5, 4, 3, 7],
       [6, 3, 7, 4, 6, 7],
       [7, 6, 7, 4, 9, 9]])

In [11]:
np.sort(x, axis=1)

array([[3, 4, 6, 6, 7, 9],
       [2, 3, 4, 6, 7, 7],
       [1, 2, 4, 5, 7, 7],
       [0, 1, 4, 5, 5, 9]])

In [12]:
y = np.array([7,2,3,1,6,5,4])
np.partition(y,3)

array([2, 1, 3, 4, 6, 5, 7])

In [13]:
np.partition(x, 2, axis=1)

array([[3, 4, 6, 7, 6, 9],
       [2, 3, 4, 7, 6, 7],
       [1, 2, 4, 5, 7, 7],
       [0, 1, 4, 5, 9, 5]])

In [14]:
# Sorting Arrays,sorting along row and column,Partial sorts: Partitioning

# DAY 6

In [3]:
import numpy as np
import pandas as pd

In [40]:
pandasData = pd.Series([1,2,3,4,5,6,7,8,9])
pandasData

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [41]:
pandasData.values

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [42]:
pandasData.keys

<bound method Series.keys of 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64>

In [43]:
pandasData.index

RangeIndex(start=0, stop=9, step=1)

In [44]:
pandasData[0:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
pandasData[-5:-2]

4    5
5    6
6    7
dtype: int64

In [46]:
newData =pd.Series([10, 11, 12, 13, 14, 15, 16, 17, 18], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
newData

a    10
b    11
c    12
d    13
e    14
f    15
g    16
h    17
i    18
dtype: int64

In [47]:
newData['a':'f']

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int64

In [48]:
social = {'Facebook':2500000, 'Linkedin':64000000, 'Twitter':49000000, 'Google':39500000, 'Snapchat':8400000, 'Telegram':8300000}
socialinfo= pd.Series(states)
socialinfo

Facebook     2500000
Linkedin    64000000
Twitter     49000000
Google      39500000
Snapchat     8400000
Telegram     8300000
dtype: int64

In [49]:
socialinfo['Facebook']

2500000

In [50]:
socialinfo['Linkedin':'Snapchat']

Linkedin    64000000
Twitter     49000000
Google      39500000
Snapchat     8400000
dtype: int64

# DAY 7

In [16]:
online = pd.Series({'Facebook':2500000, 'Linkedin':64000000, 'Twitter':49000000, 'Google':39500000, 'Snapchat':8400000, 'Telegram':8300000})

In [17]:
offline = pd.Series({'Facebook':500000, 'Linkedin':263000, 'Twitter':740000, 'Google':693000, 'Snapchat':644000, 
                      'Telegram':164500})

In [18]:
total_pop = pd.DataFrame({'online':online, 'offline':offline})
total_pop

            online  offline
Facebook   2500000   500000
Linkedin  64000000   263000
Twitter   49000000   740000
Google    39500000   693000
Snapchat   8400000   644000
Telegram   8300000   164500

In [19]:
total_pop.index

Index(['Facebook', 'Linkedin', 'Twitter', 'Google', 'Snapchat', 'Telegram'], dtype='object')

In [20]:
total_pop.columns

Index(['online', 'offline'], dtype='object')

In [21]:
total_pop.values

array([[ 2500000,   500000],
       [64000000,   263000],
       [49000000,   740000],
       [39500000,   693000],
       [ 8400000,   644000],
       [ 8300000,   164500]], dtype=int64)

In [24]:
states = pd.Series({'Oyo':2500000, 'Lagos':6400000, 'Kano':4600000, 'Kaduna':3600000, 'Enugu':3400000, 'Imo':2300000})
land = pd.Series({'Rivers':5000, 'Lagos':2000, 'Edo':7000, 'Kaduna':3000, 'Benue':4000, 'Imo':1500})
census = pd.DataFrame({'Population':states, 'Land mass':land})
census

        Population  Land mass
Benue          NaN     4000.0
Edo            NaN     7000.0
Enugu    3400000.0        NaN
Imo      2300000.0     1500.0
Kaduna   3600000.0     3000.0
Kano     4600000.0        NaN
Lagos    6400000.0     2000.0
Oyo      2500000.0        NaN
Rivers         NaN     5000.0

In [25]:
census["Population"]

Benue           NaN
Edo             NaN
Enugu     3400000.0
Imo       2300000.0
Kaduna    3600000.0
Kano      4600000.0
Lagos     6400000.0
Oyo       2500000.0
Rivers          NaN
Name: Population, dtype: float64

In [26]:
census.columns

Index(['Population', 'Land mass'], dtype='object')

In [28]:
census["Land mass"]

Benue     4000.0
Edo       7000.0
Enugu        NaN
Imo       1500.0
Kaduna    3000.0
Kano         NaN
Lagos     2000.0
Oyo          NaN
Rivers    5000.0
Name: Land mass, dtype: float64

In [29]:
census["Land mass"]["Benue":"Lagos"]

Benue     4000.0
Edo       7000.0
Enugu        NaN
Imo       1500.0
Kaduna    3000.0
Kano         NaN
Lagos     2000.0
Name: Land mass, dtype: float64

In [30]:
census["Benue":"Lagos"]
Creating a Dataframe object,creating dataframe from single dictionary,creating dataframe from multiple dictionaries,
creating dataframe with some missing values,
,slicing the dataframe using indexing, indexing a dataframe through it column name

        Population  Land mass
Benue          NaN     4000.0
Edo            NaN     7000.0
Enugu    3400000.0        NaN
Imo      2300000.0     1500.0
Kaduna   3600000.0     3000.0
Kano     4600000.0        NaN
Lagos    6400000.0     2000.0

In [31]:
studentpop = pd.DataFrame(np.random.rand(3,2), columns=['Male', "Female"], index=['Js1', 'Js2', 'Js3'])
studentpop.Male

Js1    0.234076
Js2    0.663371
Js3    0.218280
Name: Male, dtype: float64

In [32]:
studentpop['Total Student'] = studentpop['Female'] + studentpop['Male']
studentpop

         Male    Female  Total Student
Js1  0.234076  0.018922       0.252998
Js2  0.663371  0.893667       1.557039
Js3  0.218280  0.882622       1.100902

# DAY 8

In [4]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.472392  1.010078 -0.431866  1.080681
1  0.743502 -0.041625  0.726084  0.180222
2  2.071289 -1.177904  1.610332 -1.184410
3 -0.315626  0.105945 -1.882268 -0.244571
4 -1.201482  0.215001  0.750739 -0.171149
5  0.450129  1.092981 -1.738009 -1.933489
6 -0.438032 -1.044812 -1.131730 -1.728162
7  0.378675 -0.263743  0.733302  1.343337
8  0.925564 -1.000342  2.228751 -0.177076
9  1.351522  0.243202 -1.544822  0.458437

In [5]:
newdata = [df[:4], df[4:7], df[7:]]

In [6]:
pd.concat(newdata)

          0         1         2         3
0 -0.472392  1.010078 -0.431866  1.080681
1  0.743502 -0.041625  0.726084  0.180222
2  2.071289 -1.177904  1.610332 -1.184410
3 -0.315626  0.105945 -1.882268 -0.244571
4 -1.201482  0.215001  0.750739 -0.171149
5  0.450129  1.092981 -1.738009 -1.933489
6 -0.438032 -1.044812 -1.131730 -1.728162
7  0.378675 -0.263743  0.733302  1.343337
8  0.925564 -1.000342  2.228751 -0.177076
9  1.351522  0.243202 -1.544822  0.458437

In [7]:
left = pd.DataFrame({"Gender": ["male", "female"], "ltotal": [1, 2]})
right = pd.DataFrame({"Gender": ["male", "female"], "rtotal": [4, 5]})

In [9]:
left

   Gender  ltotal
0    male       1
1  female       2

right

In [11]:
pd.merge(left, right, on="Gender")

   Gender  ltotal  rtotal
0    male       1       4
1  female       2       5

In [12]:
datapd = pd.DataFrame({"A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"], 
                          "B": ["one", "one", "two", "three", "two", "two", "one", "three"], 
                          "C": np.random.randn(8),
                          "D": np.random.randn(8),
                         })

In [13]:
datapd

     A      B         C         D
0  foo    one -0.208170  0.522265
1  bar    one  0.179059  0.472929
2  foo    two -0.459447 -0.048920
3  bar  three  0.639087 -1.646504
4  foo    two  1.117779 -0.294769
5  bar    two  0.273247 -0.210422
6  foo    one -1.703623  1.398443
7  foo  three  1.388590 -1.006797

In [15]:
datapd.groupby("A").sum()

            C         D
A
bar  1.091393 -1.383997
foo  0.135129  0.570223

In [16]:
datapd.groupby(["A", "B"]).sum()

                  C         D
A   B
bar one    0.179059  0.472929
    three  0.639087 -1.646504
    two    0.273247 -0.210422
foo one   -1.911793  1.920709
    three  1.388590 -1.006797
    two    0.658332 -0.343689

In [ ]:
specification of the merge key(using the left_on amd right_on keyword)merging using indexusing both index and column name to merge
 merging using set arithmetic for joins using the join function