NUMPY

In [1]:
import numpy as np

arr = np.array([1,2,3,4,5,6,7,8,9])
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [2]:
import array
ft = array.array('i', list(range(1, 10)))
ft

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
import array
myarr = array.array("i",[1,2,3,4,5,6,7,8,9,10])
myarr

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [4]:
print(f"arr.ndim:{arr.ndim}")
print(f"arr.shape: {arr.shape}")
print(f"arr.size: {arr.size}")
print(f"arr.dtype: {arr.dtype}")

arr.ndim:1
arr.shape: (9,)
arr.size: 9
arr.dtype: int32

In [5]:
another = np.array([1,2,3,4,45,5,6,7,78,8,89,64], dtype="<U64")
another

array(['1', '2', '3', '4', '45', '5', '6', '7', '78', '8', '89', '64'],
      dtype='<U64')

In [6]:
print(f"another.dtype:{another.dtype}")
print(f"another.shape: {another.shape}")
print(f"another.ndim: {another.ndim}")

another.dtype:<U64
another.shape: (12,)
another.ndim: 1

Creating Array from scratch

In [7]:
zeros = np.zeros(10, dtype="int32")
zeros

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [8]:
zearr = np.zeros((10,8), dtype="int32")
zearr

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0]])

In [9]:
ones =np.ones(10)
ones

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [10]:
onarr = np.ones((10,10), dtype="<U")
onarr

array([['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1']], dtype='<U1')

In [11]:
np.full((5,4),8)

array([[8, 8, 8, 8],
       [8, 8, 8, 8],
       [8, 8, 8, 8],
       [8, 8, 8, 8],
       [8, 8, 8, 8]])

In [12]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.arange(1,19)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

In [14]:
np.arange(1,20,2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [15]:
np.linspace(1,17)

array([ 1.        ,  1.32653061,  1.65306122,  1.97959184,  2.30612245,
        2.63265306,  2.95918367,  3.28571429,  3.6122449 ,  3.93877551,
        4.26530612,  4.59183673,  4.91836735,  5.24489796,  5.57142857,
        5.89795918,  6.2244898 ,  6.55102041,  6.87755102,  7.20408163,
        7.53061224,  7.85714286,  8.18367347,  8.51020408,  8.83673469,
        9.16326531,  9.48979592,  9.81632653, 10.14285714, 10.46938776,
       10.79591837, 11.12244898, 11.44897959, 11.7755102 , 12.10204082,
       12.42857143, 12.75510204, 13.08163265, 13.40816327, 13.73469388,
       14.06122449, 14.3877551 , 14.71428571, 15.04081633, 15.36734694,
       15.69387755, 16.02040816, 16.34693878, 16.67346939, 17.        ])

In [16]:
np.linspace(1,17,5)

array([ 1.,  5.,  9., 13., 17.])

In [17]:
np.random.rand(1,10,2)

array([[[0.56515008, 0.15648645],
        [0.52369403, 0.66375062],
        [0.06343483, 0.10687945],
        [0.49349266, 0.49614504],
        [0.18958172, 0.86636094],
        [0.50088336, 0.18100602],
        [0.5355484 , 0.19624593],
        [0.68060157, 0.02527352],
        [0.23272941, 0.75422298],
        [0.79025587, 0.16369767]]])

In [18]:
np.random.randn(10,2)

array([[ 0.12520266, -1.33841362],
       [ 0.33885916, -2.21901649],
       [ 1.77021046, -0.2918988 ],
       [-0.9569081 , -0.38131678],
       [-0.57229101,  1.72894342],
       [-1.26134529,  0.52742096],
       [ 1.27929825,  0.81407917],
       [ 0.63640849, -0.78418513],
       [-1.18976844, -1.53193549],
       [ 0.1572863 ,  0.02572547]])

In [19]:
np.random.randn(9)

array([ 0.26327458, -0.22158383, -0.32450505,  1.27094048, -0.26907949,
        0.43511557,  0.36255749,  0.16304589, -0.97567032])

In [20]:
np.random.random(9)

array([0.37979445, 0.96802261, 0.85843998, 0.10467739, 0.8234534 ,
       0.22356686, 0.60732447, 0.72458154, 0.18459706])

In [21]:
np.random.randint(1,8,2)

array([2, 7])

In [22]:
np.random.binomial(2, 1, 20) == 0

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [23]:
np.random.randint(0,10)

7

In [24]:
np.random.randint(4,10,(2,6))

array([[9, 9, 9, 9, 8, 6],
       [7, 8, 7, 7, 9, 4]])

In [25]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [26]:
anny = np.linspace(0,1,20)
ay = anny.reshape(4,5)

In [27]:
ay.ndim

2

In [28]:
np.random.seed(42)
x1 = np.random.randint(10, size=5)
x1

array([6, 3, 7, 4, 6])

# DAY 2

In [29]:
newData = np.arange(20)
newData

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [30]:
%timeit [i + i for i in newData]

6.74 µs ± 827 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [31]:
newData + 10

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])

In [32]:
newData + 10 / 5

array([ 2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14.,
       15., 16., 17., 18., 19., 20., 21.])

In [33]:
newData * np.pi

array([ 0.        ,  3.14159265,  6.28318531,  9.42477796, 12.56637061,
       15.70796327, 18.84955592, 21.99114858, 25.13274123, 28.27433388,
       31.41592654, 34.55751919, 37.69911184, 40.8407045 , 43.98229715,
       47.1238898 , 50.26548246, 53.40707511, 56.54866776, 59.69026042])

In [34]:
np.add(newData, 10)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])

In [35]:
np.add(newData, np.pi)

array([ 3.14159265,  4.14159265,  5.14159265,  6.14159265,  7.14159265,
        8.14159265,  9.14159265, 10.14159265, 11.14159265, 12.14159265,
       13.14159265, 14.14159265, 15.14159265, 16.14159265, 17.14159265,
       18.14159265, 19.14159265, 20.14159265, 21.14159265, 22.14159265])

In [36]:
comp =np.array([3-4j, 4-3j, 2+0j, 0+1j])
np.abs(comp)

array([5., 5., 2., 1.])

In [37]:
np.tan(newData)

array([ 0.00000000e+00,  1.55740772e+00, -2.18503986e+00, -1.42546543e-01,
        1.15782128e+00, -3.38051501e+00, -2.91006191e-01,  8.71447983e-01,
       -6.79971146e+00, -4.52315659e-01,  6.48360827e-01, -2.25950846e+02,
       -6.35859929e-01,  4.63021133e-01,  7.24460662e+00, -8.55993401e-01,
        3.00632242e-01,  3.49391565e+00, -1.13731371e+00,  1.51589471e-01])

In [38]:
np.log(newData)

<ipython-input-38-865dd7705907>:1: RuntimeWarning: divide by zero encountered in log
  np.log(newData)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458,
       2.30258509, 2.39789527, 2.48490665, 2.56494936, 2.63905733,
       2.7080502 , 2.77258872, 2.83321334, 2.89037176, 2.94443898])

In [39]:
np.log10(newData)

<ipython-input-39-e688499ff411>:1: RuntimeWarning: divide by zero encountered in log10
  np.log10(newData)

array([      -inf, 0.        , 0.30103   , 0.47712125, 0.60205999,
       0.69897   , 0.77815125, 0.84509804, 0.90308999, 0.95424251,
       1.        , 1.04139269, 1.07918125, 1.11394335, 1.14612804,
       1.17609126, 1.20411998, 1.23044892, 1.25527251, 1.2787536 ])

In [40]:
np.log2(newData)

<ipython-input-40-2110a5d71805>:1: RuntimeWarning: divide by zero encountered in log2
  np.log2(newData)

array([      -inf, 0.        , 1.        , 1.5849625 , 2.        ,
       2.32192809, 2.5849625 , 2.80735492, 3.        , 3.169925  ,
       3.32192809, 3.45943162, 3.5849625 , 3.70043972, 3.80735492,
       3.9068906 , 4.        , 4.08746284, 4.169925  , 4.24792751])

In [ ]:
np.max(newData)

In [ ]:
np.min(newData)

In [ ]:
np.size(newData)

In [ ]:
np.add.accumulate(newData)

In [ ]:
np.add.reduce(newData)

In [ ]:
np.multiply.accumulate(newData)

In [ ]:
np.multiply.reduce(newData)

In [ ]:
all =newData.reshape(4,5)

In [ ]:
np.multiply.outer(newData, newData)

In [ ]:
all.shape

In [ ]:
all

In [ ]:
all.sum(axis = 0)

In [ ]:
all.sum(axis = 1)

In [ ]:
 np.mean(all)

In [ ]:
np.stack(all)

In [ ]:
np.std(all)

In [ ]:
np.median(all)

In [ ]:
np.percentile(all, 25)

In [ ]:
np.percentile(all,50)

# DAY 3

In [ ]:
mydata = np.array([16, 1, 2,13, 3, 10, np.nan,25, 5, 6, np.nan, 7, 8])
mydata

In [ ]:
print("sum: ", np.nansum(mydata))

In [ ]:
print("product: ", np.nanprod(mydata))

In [ ]:
np.nanargmax(mydata)

In [ ]:
np.nanargmin(mydata)

In [ ]:
print("cumulative product of array elements over a given axis treating Not aNumbers (NaNs) as one")
# np.nancumprod?
np.nancumprod(mydata)

In [ ]:
print(np.nanmax(mydata))
print(np.nanmin(mydata))
print(np.nanmedian(mydata))

In [ ]:
xdata = np.array(([1,2,3],[4,5,6]))
ydata = np.array(([1,2,4],[4,5,6]))

In [ ]:
xdata

In [ ]:
ydata

In [ ]:
xdata + ydata

In [ ]:
xdata - ydata

In [ ]:
zdata =np.array([4,7,9])
zdata

In [ ]:
xdata + zdata

In [ ]:
rszdata=zdata.reshape(3,1)
rszdata

In [ ]:
threedata =np.arange(9).reshape(3,3)

In [ ]:
threedata+rszdata

In [ ]:
x2 = np.random.randint(10, size=(3,4))
x2

working with Boolean Arrays, Boolean operators,Boolean Array masking,Fancy Indexing,Combine Indexing

In [ ]:
x2[::2]

In [ ]:
x2[2::]

In [ ]:
x2[2:3]

In [ ]:
x2[:,:]

In [ ]:
x2[::,::]

In [ ]:
x2[:2,:2]

In [ ]:
x2[:3,:3]

In [ ]:
x2[::3,::3]

In [ ]:
x2[:2]

In [ ]:
x2[:,:3]

In [ ]:
view =x2[::,2].copy()
view

In [ ]:
x2 = np.random.randint(10, size=(3,4))
x2

In [ ]:
[x2[0],x2[1]]

In [ ]:
x2[0,1]

In [ ]:
[x2[:2],x2[2:]]

In [ ]:
a3D = np.array([[[[[1, 2], [3, 4]],[[1, 2], [3, 4]], [[5, 6], [7, 8]]]]])
a3D.ndim

In [ ]:
a = np.array([127, 128, 129], dtype=np.int8)
a

In [ ]:
x = np.array([[1, 2], [3, 4], [5, 6]])
x

Writing custom array containers

# DAY 4

In [ ]:
x = np.arange(35).reshape(5, 7)
b = x > 20
x
# b[:, 5]
# x[b[:, 5]]

In [ ]:
x[b]

In [ ]:
x = np.array([[0, 1], [1, 1], [2, 2]])
rowsum = x.sum(-1)
rowsum
# x[rowsum <= 2, :]
# array([[0, 1],
# [1, 1]])

In [ ]:
x = np.array([[ 0, 1, 2],
[ 3, 4, 5],
[ 6, 7, 8],
[ 9, 10, 11]])
rows = (x.sum(-1) % 2) 
rows

In [ ]:
z = np.arange(81).reshape(3, 3, 3, 3)
indices = (1, 1, 1, 1)
z[indices]

In [ ]:
indices = (1, 1, 1, slice(0, 2)) # same as [1, 1, 1, 0:2]
z[indices]

In [ ]:
indices = (1, Ellipsis, 1) # same as [1, ..., 1]
z[indices]

In [ ]:
x = np.array([('Rex', 9, 81.0), ('Fido', 3, 27.0)],dtype=[('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])
x

In [ ]:
x['age']

In [ ]:
np.dtype('3int8, float32, (2, 3)float64')

In [ ]:
np.dtype({'names': ['col1', 'col2'], 'formats': ['i4', 'f4']})

In [ ]:
dm = np.dtype([('x', 'i8'), ('y', 'f4')])
dm.names

In [ ]:
dm.fields

# DAY 5

In [ ]:
onedim = np.array([2,1,4,3,5], dtype=int)
onedim.sort()
onedim

In [ ]:
np.sort(onedim)

In [ ]:
f = np.array([2,1,4,3,5], dtype=int)
i = np.argsort(f)
print(i)

In [ ]:
f[i]

In [ ]:
rand = np.random.RandomState(42)
x = rand.randint(0,10, (4,6))
x

In [ ]:
np.sort(x, axis=0)

In [ ]:
np.sort(x, axis=1)

In [ ]:
y = np.array([7,2,3,1,6,5,4])
np.partition(y,3)

In [ ]:
np.partition(x, 2, axis=1)

In [ ]:
# Sorting Arrays,sorting along row and column,Partial sorts: Partitioning

# DAY 6

In [2]:
import numpy as np
import pandas as pd

In [ ]:
pandasData = pd.Series([1,2,3,4,5,6,7,8,9])
pandasData

In [ ]:
pandasData.values

In [ ]:
pandasData.keys

In [ ]:
pandasData.index

In [ ]:
pandasData[0:5]

In [ ]:
pandasData[-5:-2]

In [ ]:
newData =pd.Series([10, 11, 12, 13, 14, 15, 16, 17, 18], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
newData

In [ ]:
newData['a':'f']

In [ ]:
social = {'Facebook':2500000, 'Linkedin':64000000, 'Twitter':49000000, 'Google':39500000, 'Snapchat':8400000, 'Telegram':8300000}
socialinfo= pd.Series(states)
socialinfo

In [ ]:
socialinfo['Facebook']

In [ ]:
socialinfo['Linkedin':'Snapchat']

# DAY 7

In [ ]:
online = pd.Series({'Facebook':2500000, 'Linkedin':64000000, 'Twitter':49000000, 'Google':39500000, 'Snapchat':8400000, 'Telegram':8300000})

In [ ]:
offline = pd.Series({'Facebook':500000, 'Linkedin':263000, 'Twitter':740000, 'Google':693000, 'Snapchat':644000, 
                      'Telegram':164500})

In [ ]:
total_pop = pd.DataFrame({'online':online, 'offline':offline})
total_pop

In [ ]:
total_pop.index

In [ ]:
total_pop.columns

In [ ]:
total_pop.values

In [ ]:
states = pd.Series({'Oyo':2500000, 'Lagos':6400000, 'Kano':4600000, 'Kaduna':3600000, 'Enugu':3400000, 'Imo':2300000})
land = pd.Series({'Rivers':5000, 'Lagos':2000, 'Edo':7000, 'Kaduna':3000, 'Benue':4000, 'Imo':1500})
census = pd.DataFrame({'Population':states, 'Land mass':land})
census

In [ ]:
census["Population"]

In [ ]:
census.columns

In [ ]:
census["Land mass"]

In [ ]:
census["Land mass"]["Benue":"Lagos"]

In [ ]:
census["Benue":"Lagos"]
Creating a Dataframe object,creating dataframe from single dictionary,creating dataframe from multiple dictionaries,
creating dataframe with some missing values,
,slicing the dataframe using indexing, indexing a dataframe through it column name

In [ ]:
studentpop = pd.DataFrame(np.random.rand(3,2), columns=['Male', "Female"], index=['Js1', 'Js2', 'Js3'])
studentpop.Male

In [ ]:
studentpop['Total Student'] = studentpop['Female'] + studentpop['Male']
studentpop

# DAY 8

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
newdata = [df[:4], df[4:7], df[7:]]

In [ ]:
pd.concat(newdata)

In [ ]:
left = pd.DataFrame({"Gender": ["male", "female"], "ltotal": [1, 2]})
right = pd.DataFrame({"Gender": ["male", "female"], "rtotal": [4, 5]})

In [ ]:
left

right

In [ ]:
pd.merge(left, right, on="Gender")

In [ ]:
datapd = pd.DataFrame({"A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"], 
                          "B": ["one", "one", "two", "three", "two", "two", "one", "three"], 
                          "C": np.random.randn(8),
                          "D": np.random.randn(8),
                         })

In [ ]:
datapd

In [ ]:
datapd.groupby("A").sum()

In [ ]:
datapd.groupby(["A", "B"]).sum()

In [ ]:
Filling null value,fill a null value in series object,fill any null value with the mean of the data
forward fill,backward fill
fill a null value in dataframe object,fil forward row-wise,fill forward column-wise

# DAY 9

In [ ]:
nandata = pd.Series([1, np.nan, 2, np.nan ], index=list("abcd"))
nandata

In [ ]:
nandata.fillna(0)

In [ ]:
nandata.fillna(nandata.mean())

In [ ]:
nandata.fillna(method="ffill")

In [ ]:
second_data = pd.DataFrame([[np.nan, np.pi, np.nan, 0],
                  [3, 4, np.nan, 1],
                   [5, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, np.pi]],
                  columns=list('ABCD'))
second_data

In [ ]:
second_data.fillna(method="ffill", axis = 1)

In [ ]:
second_data.fillna(method="bfill", axis = 1)

In [ ]:
second_data.fillna(method="ffill", axis=0)

In [ ]:
second_data.fillna(method="bfill", axis=0)

In [ ]:
second_data.fillna(0)

# DAY 10

In [42]:
muldata = {('California', 2000): 33871648, ('California', 2010): 37253956, ('Texas', 2000): 20851820, 
        ('Texas', 2010): 25145561, ('New York', 2000): 18976457, ('New York', 2010): 19378102}
pd.Series(muldata)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [43]:
muldata.items()

dict_items([(('California', 2000), 33871648), (('California', 2010), 37253956), (('Texas', 2000), 20851820), (('Texas', 2010), 25145561), (('New York', 2000), 18976457), (('New York', 2010), 19378102)])

In [44]:
muldata.values()

dict_values([33871648, 37253956, 20851820, 25145561, 18976457, 19378102])

In [45]:
muldata.keys()

dict_keys([('California', 2000), ('California', 2010), ('Texas', 2000), ('Texas', 2010), ('New York', 2000), ('New York', 2010)])

In [46]:
muldata[('New York', 2000)]

18976457

In [47]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas',
            2000), ('Texas', 2010)]  
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]       
pop = pd.Series(populations, index=index)       
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [48]:
pop[('California', 2010) : ('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [49]:
pop[[i for i in pop.index if i[1]==2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [50]:
index= pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [51]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [52]:
popdf = pop.unstack()
popdf

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [53]:
working on how to create multiIndex using Constructors,creating multiIndex using from_tuples constructor
,using from_arrays constructor
,using from_product constructor, using internal encoding by levels and labels(codes)

MultiIndex for Columns, using loc method and iloc method to get the values of columns

SyntaxError: invalid syntax (<ipython-input-53-804a3c6b9940>, line 1)

# DAY 11

In [57]:
datafr= pd.DataFrame({'Total': pop, 'Under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})        
datafr

                    Total  Under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [58]:
index = pd.MultiIndex.from_tuples(index)       
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [60]:
pop = datafr.reindex(index)       
pop

                    Total  Under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [62]:
under18 = pop['Under18']/pop['Total']
under18

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64

In [63]:
under18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [64]:
pop = pop.unstack()       
pop

               Total            Under18
                2000      2010     2000     2010
California  33871648  37253956  9267089  9284094
New York    18976457  19378102  4687374  4318033
Texas       20851820  25145561  5906301  6879014

In [65]:
df = pd.DataFrame(np.random.rand(9, 2), 
                  index=[['Oyo', 'Oyo', 'Oyo', 'Rivers','Rivers','Rivers','Lagos','Lagos','Lagos'],
                         [2000,2001,2002,2000,2001,2002,2000,2001,2002]], columns=['data1', 'data2'])        
df

                data1     data2
Oyo    2000  0.445833  0.099975
       2001  0.459249  0.333709
       2002  0.142867  0.650888
Rivers 2000  0.056412  0.721999
       2001  0.938553  0.000779
       2002  0.992212  0.617482
Lagos  2000  0.611653  0.007066
       2001  0.023062  0.524775
       2002  0.399861  0.046666

# DAY 12

In [4]:
mft = pd.DataFrame(np.random.rand(6, 2), pd.MultiIndex.from_tuples([('name', 1), ('name', 2),('name', 3), ('age', 1),
                                                                    ('age', 2),('age', 3)]))
mft

               0         1
name 1  0.650200  0.216666
     2  0.106699  0.429752
     3  0.981350  0.626248
age  1  0.810968  0.654924
     2  0.519707  0.172025
     3  0.311696  0.706092

In [6]:
dmft = pd.DataFrame(np.random.rand(9, 3), pd.MultiIndex.from_tuples([('jss1',2000),('jss1',2001),
                    ('jss1',2002),('jss2',2000),('jss2',2001),('jss2',2002),('jss3',2000),
                    ('jss3',2001),('jss3',2002)]), columns=['first semester', 'second semester','third semester'])        
dmft

           first semester  second semester  third semester
jss1 2000        0.745884         0.005382        0.553594
     2001        0.105283         0.479772        0.139748
     2002        0.176366         0.282719        0.584657
jss2 2000        0.059286         0.833043        0.846741
     2001        0.179053         0.954992        0.883937
     2002        0.114487         0.129379        0.953821
jss3 2000        0.207961         0.323199        0.216896
     2001        0.408861         0.378815        0.604403
     2002        0.043481         0.770122        0.923474

In [7]:
cm = pd.DataFrame(np.random.rand(9, 2), pd.MultiIndex.from_arrays([['Oyo', 'Oyo', 'Oyo', 'Rivers',
                    'Rivers','Rivers','Lagos','Lagos','Lagos'], [2000,2001,2002,2000,2001,2002,2000,
                    2001,2002]]))        
cm

                    0         1
Oyo    2000  0.668568  0.359242
       2001  0.065525  0.084964
       2002  0.758892  0.089470
Rivers 2000  0.931418  0.301374
       2001  0.849768  0.571133
       2002  0.081710  0.136528
Lagos  2000  0.914910  0.794497
       2001  0.446638  0.071635
       2002  0.678119  0.045540

In [8]:
cm = pd.DataFrame(np.random.rand(9, 3),pd.MultiIndex.from_product([['Oyo', 'Rivers', 'Lagos'], [2000, 
                                                                    2002,2002]]))
cm

                    0         1         2
Oyo    2000  0.470648  0.696840  0.039349
       2002  0.446349  0.734416  0.264867
       2002  0.374462  0.932820  0.144240
Rivers 2000  0.901545  0.745025  0.028580
       2002  0.397772  0.092506  0.851984
       2002  0.237686  0.993754  0.505634
Lagos  2000  0.268861  0.560780  0.561121
       2002  0.073354  0.191401  0.177911
       2002  0.203847  0.645059  0.872457

In [10]:
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]  
mydata = pd.DataFrame(populations, pd.MultiIndex.from_product([['California', 'New York', 'Texas'],
                                                           [2000,2010]]), columns=['population'])
mydata

                 population
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

# DAY 13

In [3]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],  names=['year', 'visit']) 

columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], 
                                     names=['patient', 'type'])

In [4]:
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
data

array([[39. , 35.8, 46. , 35.7, 28. , 36.2],
       [28. , 36.3, 37. , 37.3, 30. , 38.2],
       [36. , 37.4, 46. , 37.9, 25. , 37.1],
       [24. , 37.7, 32. , 37.3, 50. , 37.9]])

In [6]:
alldata = pd.DataFrame(data=data,
    index =index,
    columns = columns)
alldata

patient      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      39.0  35.8  46.0  35.7  28.0  36.2
     2      28.0  36.3  37.0  37.3  30.0  38.2
2014 1      36.0  37.4  46.0  37.9  25.0  37.1
     2      24.0  37.7  32.0  37.3  50.0  37.9

In [7]:
alldata["Bob"]

type          HR  Temp
year visit
2013 1      39.0  35.8
     2      28.0  36.3
2014 1      36.0  37.4
     2      24.0  37.7

In [8]:
alldata["Bob"]["Temp"]

year  visit
2013  1        35.8
      2        36.3
2014  1        37.4
      2        37.7
Name: Temp, dtype: float64

In [11]:
alldata[alldata["Bob"]["Temp"] == 35.8]

patient      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      39.0  35.8  46.0  35.7  28.0  36.2

In [15]:
alldata.iloc[0]["Bob"]

type
HR      39.0
Temp    35.8
Name: (2013, 1), dtype: float64

In [19]:
alldata.iloc[0] == 28.0

patient  type
Bob      HR      False
         Temp    False
Guido    HR      False
         Temp    False
Sue      HR       True
         Temp    False
Name: (2013, 1), dtype: bool